.container {
    margin: 0rem 0rem 2rem 0rem;
    padding: 0rem 2rem 2rem 2rem;
    max-width: 90%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(255,255,255,0.1);
  }
  input, textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 6px;
  }
  button {
    margin-top: 1rem;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }