.footer {
    padding: 2rem 1rem;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.footer-nav a {
    margin: 0 1rem;
    color: #000000;
    text-decoration: none;
}

.footer-nav a:hover {
    color: #2d2d2d;
}