<header class="header">
  <nav>
    <!-- Левая часть: логотип -->
    <div class="logo-container">
      <a routerLink="/" class="logo">
        <img src="silogo.png" alt="Logo" />
      </a>
    </div>

    <!-- Правая часть: пункты меню -->
    <div class="menu-container">
      <a routerLink="/" routerLinkActive="active">Главная</a>
      <a routerLink="/articles" routerLinkActive="active">Курс</a>
      <a routerLink="/login" routerLinkActive="active">Об авторе</a>
    </div>
  </nav>
</header>
