<section class="course-section dark">
    <h2 class="section-title">{{courseContentLabel }}</h2>
    <div class="chapters">
      <div class="chapter-card" *ngFor="let chapter of chapters">
        <a routerLink="{{chapter.link}}">
          <h3>{{ chapter.title }}</h3>
          <p>{{ chapter.description }}</p>
        </a>
      </div>
      <div class="chapter-card">
        <a routerLink="/articles" class="articles-link" routerLinkActive="active">{{toCourseLabel}} →</a>
    </div>
    </div>
  </section>